/* shared style  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.text-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    border: 0;
    padding: 13px 30px;
    background-color: #FF42A5;
    border-radius: 48px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;
}

/* navbar style  */

header .navbar {
    padding: 39px 0;
    display: flex;
    justify-content: space-between;
}

header .nav-icon {
    display: flex;
    align-items: center;
}

header .nav-icon img {
    width: 86px;
    height: 40px;
}

header .nav-icon h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
    margin-left: 15px;
}

header .nav-icon h2 span {
    color: #FF42A5;
}

.navbar .menu-item {
    display: flex;
}

.navbar .menu-item li {
    list-style: none;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.navbar .menu-item li a {
    text-decoration: none;
    color: #3C354F;
    padding: 9px 12px;
}

.navbar .menu-item li i {
    margin-left: 7px;
}

.navbar .menu-item li a:hover {
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}

/* navbar style end  */

/* banner section style  */

.banner {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
}

.banner .banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-container .banner-info {
    width: 50%;
}

.banner-container .banner-info h2 {
    font-size: 3rem;
    margin: 0;
}

.banner-container .banner-info h1 {
    font-size: 5.9rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.banner-container .banner-info p {
    font-size: 20px;
    color: #534C64;
}

.banner-container .banner-info i {
    margin-right: 14px;
}

.banner-container .banner-info .btn-rogue {
    background-color: #4EC5F7;
    margin-left: 30px;
}

.banner-container .banner-image {
    width: 50%;
}

.banner-container .banner-image img {
    width: 100%;
}






/* responsive for small or mobile device */

@media only screen and (max-width: 576px) {
    .container {
        width: 98%;
    }

    /* header section responsive */

    header .navbar {
        flex-direction: column;

    }

    .navbar .nav-icon {
        justify-content: center;
    }

    .navbar .menu-item {
        flex-direction: column;
        margin: auto;
    }

    .navbar .menu-item li {
        margin-top: 15px;
        margin-left: 0;
    }

    .banner {
        background-size: 115%;
        background-position: bottom;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-container .banner-info {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 35px;
    }

    .banner-container .banner-image {
        width: 100%;
    }
}

/* responsive for medium or tablet device */

@media only screen and (min-width: 577px) and (max-width:1024px) {

    header .navbar {
        flex-direction: column;

    }

    .navbar .nav-icon {
        justify-content: center;
    }

    .navbar .menu-item {
        margin: auto;
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-container .banner-info {
        padding: 30px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .banner-container .banner-image {
        width: 100%;
    }
}